{% extends 'layout.html' %}


{% block content %}
<div>
  <p> Welcome {{data ['firstname']}} {{ data ['surname']}} to the NHS </p>
    {{warningCallout({"heading": "Introductions to the NHSUK Prototype Kit", 
    "HTML": "<p>This is our landing area {{ data['surname'] }} {{ data['firstname'] }}, we hope you find our array of services to your taste. Please do take your time to test out the suite of features on offer and upload your outcomes to our remote repository</p>"})}}
</div>


{% endblock %}

